<%# operator selection menu items %>
<% id = 'edgarj_search_operator_selection' %>
<div class="contextMenu" id="<%= id -%>" style='display: none;'> <!-- edgarj/edgarj/_search_operator_selection.html.erb -->
  <ul>
    <li id="<%= id + '_eq' -%>">=</li>
    <li id="<%= id + '_ne' -%>">&lt;&gt;</li>
    <li id="<%= id + '_gt' -%>">&gt;</li>
    <li id="<%= id + '_ge' -%>">&gt;=</li>
    <li id="<%= id + '_lt' -%>">&lt;</li>
    <li id="<%= id + '_le' -%>">&lt;=</li>
  </ul>
</div>
