<!-- edgarj/index.html.erb -->
<table>
  <tr>
    <td id=page_title><h2><%= controller.send(:human_name) %></h2></td>
  </tr>
</table>
<%= render 'list' %>
<%= render 'form' %>
<%= render 'search_form' %>
<%= render 'search_operator_selection' %>

<div id=edgarj_message_popup></div>
<%= javascript_tag do %>
$(function(){
  $('#edgarj_search_form').hide();

  /* init message-dialog, which will be mainly used to display error message */
  $('#edgarj_message_popup').dialog({
    autoOpen: false,
    modal:    true,
    title:    '<%= t('edgarj.message_popup.title') %>',
    width:    800,
  });
});
<% end %>

<div id=edgarj_form_popup></div>
<%= javascript_tag do %>
$(function(){
  /* init popup-dialog, but don't show */
  $('#edgarj_form_popup').dialog({
    autoOpen: false,
    modal:    true,
    width:    800,
  });
});
<% end %>
