<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<table width='100%' class=edgarj_header>
  <tr>
    <td>
      <%= draw_menu %>
    </td>
    <td>
      <% flash.each do |name, msg| %>
        <%= content_tag :span, msg, :id => "flash_#{name}" %>
      <% end %>
    </td>
    <td align=right class=user>
      Login: <%= current_user.name || '' %>
    </td>
  </tr>
</table>
<div class="clear"> </div>

<br clear=all />

<%= yield %>

</body>
</html>
